.quiz-body-container {
    background-color: var(--primary-bg);
    color: var(--color-grey);
    height: auto;
}

.quiz-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.quiz-body-subhead {
    text-align: center;
}

.quiz-home .btn-home-cta {
    width: fit-content;
    border: 1px solid var(--color-button-solid-success);
    margin: 0.5rem;
}