/* Footer */
.footer {
    background-color: var(--primary-bg);
    color: var(--color-grey);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-socials-list {
    display: flex;
    list-style-type: none;
}

.footer-socials-list {
    padding: 0;
}

.footer-socials-list li {
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
}

.footer-socials-list i.social-icn {
    color: var(--color-grey);
}