/* Footer */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-socials-list {
    display: flex;
    list-style-type: none;
}

.footer-socials-list {
    padding: 0;
}

.footer-socials-list li {
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
}

.footer-socials-list i.social-icn {
    color: var(--color-hover-grey);
}